In [28]:
import sys
!{sys.executable} -m pip install xgboost
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt  
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,confusion_matrix
train = pd.read_excel (r'C:\Users\DELL\Downloads\Train_dataset.xlsx')
test = pd.read_excel (r'C:\Users\DELL\Downloads\Test_dataset.xlsx')
print (train)
print (test)

Requirement already satisfied: xgboost in c:\users\dell\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from xgboost) (1.16.2)
                   City           State    Type  Population [2011]  \
0                Mumbai     Maharashtra     M.C         12442373.0
1                 Delhi           Delhi     M.C         11007835.0
2             Bangalore       Karnataka    MPUA          8436675.0
3             Hyderabad       Telangana    MPUA          6809970.0
4             Ahmedabad         Gujarat    MPUA          5570585.0
5               Chennai      Tamil Nadu    MPUA          4681087.0
6               Chennai      Tamil nadu       T          4646732.0
7               Kolkata     West Bengal    MPUA          4486679.0
8                 Surat         Gujarat    MPUA          4467797.0
9                  Pune     Maharashtra    MPUA          3124458.0
10               Jaipur       Rajasthan    MPUA          3046163.0
11              Lucknow   Uttar Pradesh    MPUA          2817105.0
12               Indore  Madhya Pradesh       M          2800000.0
13               Kanpur   Uttar Pradesh    MPUA          2765348.0
14               Nagpur     Maharashtra    MPUA          2405665.0
15               Indore  Madhya Pradesh    MPUA          1964086.0
16                Thane     Maharashtra    MPUA          1841488.0
17               Bhopal  Madhya Pradesh    MPUA          1798218.0
18        Visakhapatnam  Andhra Pradesh    MPUA          1728128.0
19     Pimpri-Chinchwad     Maharashtra    MPUA          1727692.0
20                Patna           Bihar    MPUA          1684222.0
21             Vadodara         Gujarat    MPUA          1670806.0
22            Ghaziabad   Uttar Pradesh    MPUA          1648643.0
23             Ludhiana          Punjab    MPUA          1618879.0
24                 Agra   Uttar Pradesh    MPUA          1585704.0
25               Nashik     Maharashtra    MPUA          1486053.0
26               Ranchi       Jharkhand    MPUA          1456528.0
27            Faridabad         Haryana    MPUA          1414050.0
28               Meerut   Uttar Pradesh    MPUA          1305429.0
29               Rajkot         Gujarat    MPUA          1286678.0
..                  ...             ...     ...                ...
757                Taki     West Bengal       M            38263.0
758  Saundatti-Yellamma       Karnataka   T.M.C            38155.0
759      Pathanamthitta          Kerala       M            38009.0
760                Wadi       Karnataka  T.M.C.            37988.0
761         Rameshwaram      Tamil Nadu     T.P            37968.0
762        Gowribidanur       Karnataka   C.M.C            37947.0
763             Tasgaon     Maharashtra    M.Cl            37945.0
764        Sikandra Rao   Uttar Pradesh     M.B            37938.0
765              Sihora  Madhya Pradesh       M            37870.0
766            Tiruvuru  Andhra Pradesh       M            37802.0
767      Tiruvethipuram      Tamil Nadu       M            37802.0
768              Mehkar     Maharashtra    M.Cl            37715.0
769         Peringathur          Kerala     C.T            37699.0
770          Perambalur      Tamil Nadu     T.P            37631.0
771               Manvi       Karnataka   T.M.C            37613.0
772         Pattamundai          Odisha       M            37527.0
773           Zunheboto        Nagaland     T.C            37447.0
774            Kanigiri  Andhra Pradesh       M            37420.0
775        Mahnar Bazar           Bihar       M            37370.0
776            Attingal          Kerala       M            37346.0
777             Shahbad         Haryana     M.C            37289.0
778            Puranpur   Uttar Pradesh     M.B            37233.0
779         Nelamangala       Karnataka   T.M.C            37232.0
780             Lalganj           Bihar   N.A.C            37000.0
781             Nakodar          Punjab    M.Cl            36973.0
782            Lunawada         Gujarat       M            36954.0
783         Murshidabad     West Bengal       M            36947.0
784                Mahe      Puducherry       M            36828.0
785               Lanka           Assam     M.B            36805.0
786             Rudauli   Uttar Pradesh     M.B            36776.0

     Popuation [2001]  Sex Ratio  Median Age  Avg Temp     SWM  Toilets Avl  \
0          11978450.0      878.0        23.0      32.0  MEDIUM        219.0
1           9879172.0      858.0        27.0      30.0  MEDIUM        215.0
2           4301326.0      936.0        28.0      37.0    HIGH        212.0
3           3637483.0      930.0        23.0      31.0  MEDIUM        217.0
4           3520085.0      852.0        29.0      25.0     LOW        227.0
5           4343645.0      904.0        26.0      31.0    HIGH        210.0
6                 NaN      912.0        26.0      30.0  MEDIUM        145.0
7           4572876.0      945.0        26.0      37.0     NaN          NaN
8           2433835.0        NaN        27.0      26.0     NaN          NaN
9           2538473.0        NaN        29.0      29.0     NaN          NaN
10          2322575.0      871.0        26.0      32.0    HIGH        128.0
11          2185927.0      882.0        24.0      33.0    HIGH        123.0
12                NaN      919.0        25.0      34.0     LOW        116.0
13          2551337.0      861.0        26.0      29.0    HIGH        135.0
14          2052066.0      878.0         NaN      35.0  MEDIUM        100.0
15          1474968.0      929.0         NaN      37.0  MEDIUM        149.0
16          1262551.0      878.0         NaN      32.0     LOW        119.0
17          1437354.0      926.0         NaN      35.0     LOW        113.0
18           982904.0      891.0         NaN      26.0    HIGH        119.0
19          1012472.0      872.0         NaN      36.0    HIGH        108.0
20          1366444.0      925.0         NaN      34.0     LOW        142.0
21          1306227.0      840.0         NaN      29.0     LOW        112.0
22           968256.0      872.0         NaN      36.0  MEDIUM        122.0
23          1398467.0      869.0        25.0      28.0    HIGH        131.0
24          1275134.0      875.0        25.0      34.0     LOW        124.0
25          1077236.0      872.0        23.0      36.0    HIGH        122.0
26          1079968.0      895.0        29.0      29.0  MEDIUM        144.0
27          1055938.0      842.0        27.0      32.0     LOW        127.0
28          1039405.0      889.0        29.0      25.0    HIGH        100.0
29           967476.0      848.0        23.0      28.0    HIGH        129.0
..                ...        ...         ...       ...     ...          ...
757               NaN      960.0        27.0      39.0    HIGH         53.0
758               NaN      923.0        24.0      38.0  MEDIUM         87.0
759               NaN      963.0        28.0      35.0  MEDIUM         55.0
760               NaN      925.0        26.0      32.0  MEDIUM         63.0
761               NaN      917.0        24.0      37.0    HIGH         94.0
762               NaN      926.0        29.0      26.0  MEDIUM         94.0
763               NaN      892.0        29.0      35.0     LOW         90.0
764               NaN      874.0        26.0      27.0     LOW         73.0
765               NaN      914.0        29.0      32.0    HIGH         79.0
766               NaN      905.0        24.0      27.0     LOW         66.0
767               NaN      907.0        29.0      26.0    HIGH         92.0
768               NaN      893.0        23.0      31.0    HIGH         77.0
769               NaN      967.0        31.0      25.0    HIGH        100.0
770               NaN      920.0        26.0      31.0    HIGH         70.0
771               NaN      921.0        24.0      37.0    HIGH         95.0
772               NaN      947.0        28.0      39.0  MEDIUM         76.0
773               NaN      931.0        29.0      15.0    HIGH         91.0
774               NaN      905.0        28.0      33.0  MEDIUM         66.0
775               NaN      913.0        28.0      29.0    HIGH         54.0
776               NaN      976.0        31.0      37.0    HIGH         75.0
777               NaN      829.0        24.0      33.0  MEDIUM         77.0
778               NaN      886.0        28.0      35.0  MEDIUM         66.0
779               NaN      931.0        24.0      34.0  MEDIUM         78.0
780               NaN      919.0        29.0      36.0     LOW         54.0
781               NaN      873.0        26.0      31.0     LOW         61.0
782               NaN      846.0        23.0      28.0  MEDIUM         68.0
783               NaN      945.0        23.0      36.0  MEDIUM         62.0
784               NaN     1019.0        28.0      28.0    HIGH         98.0
785               NaN      900.0        24.0       6.0  MEDIUM         63.0
786               NaN      889.0        25.0      37.0    HIGH         51.0

     Water Purity   H Index  Female Population  # of hospitals  \
0           150.0  0.700440         10924403.0           159.0
1           196.0  0.920018          9444722.0           148.0
2           102.0  0.097085          7896728.0           123.0
3           118.0  0.827744          6333272.0           110.0
4           109.0  0.847941          4746138.0            73.0
5           179.0  0.536995          4231703.0            67.0
6           177.0  0.093451          4237820.0            55.0
7             NaN  0.473585          4239912.0            82.0
8             NaN  0.809334          3797627.0            98.0
9             NaN  0.445902          2743274.0            50.0
10          172.0  0.889895          2653208.0            61.0
11          176.0  0.464746          2484687.0            58.0
12          142.0  0.815466          2573200.0            56.0
13          122.0  0.053147          2380965.0            94.0
14          136.0  0.010730          2112174.0            52.0
15          172.0  0.884344          1824636.0            76.0
16          199.0  0.727836          1616826.0            90.0
17          185.0  0.333171          1665150.0            72.0
18          125.0  0.641501          1539762.0            51.0
19          195.0  0.438330          1506547.0            93.0
20          117.0  0.377562          1557905.0            62.0
21          156.0  0.263219          1403477.0            91.0
22          155.0  0.852213          1437617.0            72.0
23          180.0  0.556510          1406806.0            73.0
24          115.0  0.152534          1387491.0            99.0
25          170.0  0.172584          1295838.0            66.0
26          134.0  0.541507          1303593.0            59.0
27          200.0  0.326206          1190630.0            59.0
28            NaN       NaN                NaN             NaN
29            NaN       NaN                NaN             NaN
..            ...       ...                ...             ...
757         117.0  0.915599            36732.0            26.0
758         112.0  0.831628            35217.0            12.0
759         134.0  0.194197            36603.0            21.0
760         115.0  0.752733            35139.0            26.0
761         127.0  0.469445            34817.0            16.0
762         198.0  0.357719            35139.0            20.0
763         177.0  0.389511            33847.0            11.0
764         149.0  0.106637            33158.0            28.0
765         173.0  0.998757            34613.0            25.0
766         164.0  0.787915            34211.0            27.0
767         119.0  0.395261            34286.0            13.0
768         182.0  0.969394            33679.0            10.0
769         138.0  0.177050            36455.0            18.0
770         154.0  0.848291            34621.0            29.0
771         144.0  0.858663            34642.0            15.0
772         144.0  0.288337            35538.0            18.0
773         144.0  0.141677            34863.0            13.0
774         173.0  0.999186            33865.0            30.0
775         194.0  0.018442            34119.0            25.0
776         134.0  0.646360            36450.0            16.0
777         171.0  0.789984            30913.0            28.0
778         195.0  0.378812            32988.0            12.0
779         134.0  0.382265            34663.0            19.0
780         168.0  0.289709            34003.0            19.0
781         171.0  0.265890            32277.0            14.0
782         103.0  0.035280            31263.0            19.0
783         136.0  0.056394            34915.0            22.0
784         138.0  0.066752            37528.0            27.0
785         145.0  0.627556            33125.0            15.0
786         181.0  0.313383            32694.0            30.0

     Foreign Visitors  Covid Cases
0           4408916.0       163115
1           2379169.0        80188
2            636502.0       141000
3            126078.0        55123
4            284973.0        33204
5           4684707.0       145606
6           4684707.0       145606
7           1489500.0        44957
8            284973.0        23432
9           4408916.0       218502
10          1475311.0        14001
11          3104060.0        37220
12           421365.0        15764
13          3104060.0        22413
14          4408916.0        44700
15           421365.0        15764
16          4408916.0       150793
17           421365.0        12446
18           237854.0        21374
19          4408916.0        24402
20           923737.0        23610
21           284973.0         9439
22          3104060.0        10219
23           242367.0        12847
24          3104060.0         3834
25          4408916.0        50341
26           167785.0        12365
27           303118.0        15003
28                NaN         6092
29                NaN         6250
..                ...          ...
757         1489500.0         2590
758          636502.0         2213
759          977479.0         2694
760          636502.0         2403
761         4684707.0         2199
762          636502.0         2683
763         4408916.0         2584
764         3104060.0         2270
765          421365.0         2648
766          237854.0         2170
767         4684707.0         2628
768         4408916.0         2052
769          977479.0         2995
770         4684707.0         2390
771          636502.0         2208
772           66971.0         2649
773            2769.0         2697
774          237854.0         2532
775          923737.0         2554
776          977479.0         3023
777          303118.0         1988
778         3104060.0         2478
779          636502.0         2232
780          923737.0         2663
781          242367.0         2268
782          284973.0         1944
783         1489500.0         2172
784          106153.0         2851
785           24720.0         2158
786         3104060.0         2220

[787 rows x 16 columns]
                     City              State    Type  Population [2011]  \
0                Tuensang           Nagaland     T.C            36774.0
1            Lakshmeshwar          Karnataka   T.M.C            36754.0
2                    Zira             Punjab   M.Cl.            36732.0
3                   Yawal        Maharashtra    M.Cl            36706.0
4            Thana Bhawan      Uttar Pradesh    N.P.            36669.0
5                 Ramdurg          Karnataka      UA            36649.0
6                 Pulgaon        Maharashtra    M.Cl            36522.0
7              Sadasivpet          Telangana       M            36334.0
8                 Nargund          Karnataka   T.M.C            36291.0
9           Neem-Ka-Thana          Rajasthan       M            36231.0
10                 Memari        West Bengal       M            36207.0
11                Nilanga        Maharashtra    M.Cl            36172.0
12             Naharlagun  Arunachal Pradesh     N.T            36158.0
13                 Pakaur          Jharkhand       M            36029.0
14                    Wai        Maharashtra   M.Cl.            36025.0
15               Tarikere          Karnataka  T.M.C.            35942.0
16              Malavalli          Karnataka   T.M.C            35851.0
17                 Raisen     Madhya Pradesh       M            35702.0
18                  Lahar     Madhya Pradesh     N.P            35674.0
19             Uravakonda     Andhra Pradesh     C.T            35565.0
20                Savanur          Karnataka   T.M.C            35563.0
21                 Sirohi          Rajasthan       M            35544.0
22               Udhampur  Jammu and Kashmir      UA            35507.0
23                 Umarga        Maharashtra    M.Cl            35477.0
24             Pratapgarh          Rajasthan       M            35422.0
25              Lingsugur          Karnataka   T.M.C            35411.0
26            Usilampatti         Tamil Nadu       M            35219.0
27            Palia Kalan      Uttar Pradesh     M.B            35029.0
28                  Wokha           Nagaland    T.C.            35004.0
29               Rajpipla            Gujarat       M            34923.0
..                    ...                ...     ...                ...
471              Lohaghat        Uttarakhand     N.P             7926.0
472               Bhimtal        Uttarakhand     N.P             7722.0
473               Lalkuan        Uttarakhand     N.P             7644.0
474            Kaladhungi        Uttarakhand     N.P             7611.0
475                 Naura             Punjab     NaN             7500.0
476  Mahua Dabra Haripura        Uttarakhand     N.P             7326.0
477             Chandpara        West Bengal     C.T             7113.0
478             Dharchula        Uttarakhand     N.P             7039.0
479                 Adyar          Karnataka    C.T.             7034.0
480          Narsinghgarh     Madhya Pradesh     C.T             6735.0
481                Barkot        Uttarakhand     N.P             6720.0
482               Didihat        Uttarakhand     N.P             6522.0
483            Satrampadu     Andhra Pradesh    C.T.             6393.0
484                 Warud        Maharashtra   M.Cl.             6386.0
485              Asarganj              Bihar    C.T.             6327.0
486               Bhowali        Uttarakhand   N.P.P             6309.0
487            Shaktigarh        Uttarakhand     N.P             6309.0
488         Narendranagar        Uttarakhand   N.P.P             6049.0
489             Champawat        Uttarakhand     N.P             4801.0
490                Sarsod            Haryana     G.P             4630.0
491             Bhaiseena          Rajasthan     G.P             3200.0
492              Dwarahat        Uttarakhand     N.P             2749.0
493             Badrinath        Uttarakhand     N.P             2438.0
494               Dogadda        Uttarakhand   N.P.P             2422.0
495             Devprayag        Uttarakhand     N.P             2152.0
496           Nandaprayag        Uttarakhand     N.P             1641.0
497            Kirtinagar        Uttarakhand     N.P             1517.0
498             Kedarnath        Uttarakhand     N.P              612.0
499              Gangotri        Uttarakhand     N.P              110.0
500             Kumarganj      Uttar Pradesh     C.T                NaN

     Popuation [2001]  Sex Ratio  Median Age  Avg Temp     SWM  Toilets Avl  \
0                 NaN      931.0        23.0      10.0  MEDIUM         94.0
1                 NaN      934.0        25.0      38.0    HIGH         62.0

In [29]:
swm = pd.get_dummies(train['SWM'], drop_first=True)
swm_test = pd.get_dummies(test['SWM'], drop_first=True)
train = pd.concat([train, swm], axis = 1)
test = pd.concat([test, swm_test], axis = 1)

In [30]:
train.drop(['City', 'Popuation [2001]', 'State', 'SWM', 'Sex Ratio', 'Median Age', 'Avg Temp', 'Water Purity', 'H Index'], axis = 1, inplace= True)
test.drop(['City','Popuation [2001]', 'State', 'SWM', 'Sex Ratio', 'Median Age', 'Avg Temp', 'Water Purity', 'H Index'], axis = 1, inplace= True)

In [31]:

amp_object = train.select_dtypes(include = np.object)
amp_int = train.select_dtypes(exclude=np.object)
amp_object1 = test.select_dtypes(include = np.object)
amp_int1 = test.select_dtypes(exclude=np.object)

In [32]:
for clm in amp_object.columns:
    train[clm] = train[clm].fillna(value = train[clm].mode())
    #print(train[clm].mode())
    
for clm in amp_int.columns:
    train[clm] = train[clm].fillna(value = train[clm].mean())



for clm in amp_object1.columns:
    test[clm] = test[clm].fillna(value = test[clm].mode())
    #print(test[clm].mode())
    
for clm in amp_int1.columns:
    test[clm] = test[clm].fillna(value = test[clm].mean())

In [33]:
d = {'Type': ['C-1T','M','M.Cl','MPUA','M.B','UA']}
typ = np.array(train['Type'])
for i in range(len(train)):
    if typ[i] not in d['Type']:
        typ[i]='other_type'

train['Type'] = typ
obj_clm = train.select_dtypes(include = np.object)
for c in obj_clm.columns:
    k = train[c].value_counts()
    print(c, '***'*2,'\n' ,k)
    
lst1 = []


typ1 = np.array(test['Type'])
for i in range(len(test)):
    lst1.append(0)
    if typ1[i] not in d['Type']:
        typ1[i]='other_type'

test['Type'] = typ1
obj_clm1 = test.select_dtypes(include = np.object)
for c in obj_clm1.columns:
    k = test[c].value_counts()
    print(c, '***'*2,'\n' ,k)
test['Type_MPUA'] = np.array(lst1)
test['Type_M'] = np.array(lst1)

Type ******
 C-1T          269
M             236
other_type    123
M.Cl           59
MPUA           44
M.B            28
UA             28
Name: Type, dtype: int64
Type ******
 other_type    297
M             119
M.Cl           61
M.B            16
UA              8
Name: Type, dtype: int64

In [34]:
test.head()

,Type,Population [2011],Toilets Avl,Female Population,# of hospitals,Foreign Visitors,LOW,MEDIUM,Type_MPUA,Type_M
0,other_type,36774.0,94.0,34237.0,17.0,2769.0,0,1,0,0
1,other_type,36754.0,62.0,34328.0,13.0,636502.0,0,0,0,0
2,other_type,36732.0,63.0,32434.0,17.0,242367.0,0,0,0,0
3,M.Cl,36706.0,60.0,32558.0,11.0,4408916.0,0,0,0,0
4,other_type,36669.0,92.0,32159.0,23.0,3104060.0,1,0,0,0

In [35]:
train.drop(obj_clm.columns,axis=1,inplace =True)
obj_clm = pd.get_dummies(obj_clm,drop_first = True)


test.drop(obj_clm1.columns,axis=1,inplace =True)
obj_clm1 = pd.get_dummies(obj_clm1,drop_first = True)

In [36]:
train = pd.concat([train,obj_clm],axis =1)
train['total_toilets'] = train['# of hospitals'] * train['Toilets Avl']

test = pd.concat([test, obj_clm1],axis =1)
test['total_toilets'] = test['# of hospitals'] * test['Toilets Avl']

In [37]:
train.drop(['# of hospitals','Toilets Avl'],inplace = True,axis=1)
test.drop(['# of hospitals','Toilets Avl'],inplace = True,axis=1)

In [38]:
train.drop(['Female Population'] , axis=1, inplace=True)
test.drop(['Female Population'] , axis=1, inplace=True)

In [39]:
test.head()

,Population [2011],Foreign Visitors,LOW,MEDIUM,Type_MPUA,Type_M,Type_M.B,Type_M.Cl,Type_UA,Type_other_type,total_toilets
0,36774.0,2769.0,0,1,0,0,0,0,0,1,1598.0
1,36754.0,636502.0,0,0,0,0,0,0,0,1,806.0
2,36732.0,242367.0,0,0,0,0,0,0,0,1,1071.0
3,36706.0,4408916.0,0,0,0,0,0,1,0,0,660.0
4,36669.0,3104060.0,1,0,0,0,0,0,0,1,2116.0

In [58]:
x = train.drop('Covid Cases' , axis=1)
y = train['Covid Cases']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
import re
import pandas as pd
import numpy as np

In [61]:
from xgboost.sklearn import XGBRegressor
regex = re.compile(r"\[|\]|<", re.IGNORECASE)

# test input data with string, int, and symbol-included columns 
df = pd.DataFrame({'0': np.random.randint(0, 2, size=100),
                   '[test1]': np.random.uniform(0, 1, size=100),
                   'test2': np.random.uniform(0, 1, size=100),
                  3: np.random.uniform(0, 1, size=100)})

df.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in df.columns.values]

target = df.iloc[:, 0]
predictors = df.iloc[:, 1:]
xgb0 = XGBRegressor(objective= 'reg:linear')
xgb0.fit(predictors, target)
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score as acc
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

linear = LinearRegression()
sv = SVR()
rf = RandomForestRegressor(random_state=72)
xg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.01,
                max_depth = 5, alpha = 10, n_estimators = 10)

from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
params1={
 "max_depth"        :  (3, 4, 5, 6, 8, 10, 12, 15),
 "n_estimators"     : (100,300,500,700,800,1000),
 "max_features"     : (4,6,8,10)
}
random_search0=RandomizedSearchCV(rf,param_distributions=params1,n_iter=5,n_jobs=-1,cv=5,verbose=3)
random_search0.fit(x_train, y_train)



linear.fit(x_train,y_train)
sv.fit(x_train,y_train)
rf.fit(x_train,y_train)
xg.fit(x_train,y_train)
l = (linear,sv,rf, random_search0, xg)
for model in l:
    print(str(model))
    y = model.predict(x_test)
    print("*"*5,r2_score(y, y_test))
    sns.kdeplot(y-y_test)
    plt.show()

[20:21:44] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[20:21:44] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  25 | elapsed:    1.3s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:    1.4s finished

ValueError: feature_names must be string, and may not contain [, ] or <

In [49]:
rf.score(x_train, y_train)

0.8899538412097252

In [50]:
train.head()

,Population [2011],Foreign Visitors,Covid Cases,LOW,MEDIUM,Type_M,Type_M.B,Type_M.Cl,Type_MPUA,Type_UA,Type_other_type,total_toilets
0,12442373.0,4408916.0,163115,0,1,0,0,0,0,0,1,34821.0
1,11007835.0,2379169.0,80188,0,1,0,0,0,0,0,1,31820.0
2,8436675.0,636502.0,141000,0,0,0,0,0,1,0,0,26076.0
3,6809970.0,126078.0,55123,0,1,0,0,0,1,0,0,23870.0
4,5570585.0,284973.0,33204,1,0,0,0,0,1,0,0,16571.0

In [51]:
test.head()

,Population [2011],Foreign Visitors,LOW,MEDIUM,Type_MPUA,Type_M,Type_M.B,Type_M.Cl,Type_UA,Type_other_type,total_toilets
0,36774.0,2769.0,0,1,0,0,0,0,0,1,1598.0
1,36754.0,636502.0,0,0,0,0,0,0,0,1,806.0
2,36732.0,242367.0,0,0,0,0,0,0,0,1,1071.0
3,36706.0,4408916.0,0,0,0,0,0,1,0,0,660.0
4,36669.0,3104060.0,1,0,0,0,0,0,0,1,2116.0

In [52]:
yr = rf.predict(test)

In [53]:
lst = []
for i in yr:
    lst.append(int(i))
    
df['Result'] = pd.DataFrame(lst)
df.head()

,City,State,Type,Population [2011],Popuation [2001],Sex Ratio,Median Age,Avg Temp,SWM,Toilets Avl,Water Purity,H Index,Female Population,# of hospitals,Foreign Visitors,Covid Cases,Result
0,Mumbai,Maharashtra,M.C,12442373.0,11978450.0,878.0,23.0,32.0,MEDIUM,219.0,150.0,0.700440,10924403.0,159.0,4408916.0,163115,2808.0
1,Delhi,Delhi,M.C,11007835.0,9879172.0,858.0,27.0,30.0,MEDIUM,215.0,196.0,0.920018,9444722.0,148.0,2379169.0,80188,2363.0
2,Bangalore,Karnataka,MPUA,8436675.0,4301326.0,936.0,28.0,37.0,HIGH,212.0,102.0,0.097085,7896728.0,123.0,636502.0,141000,2639.0
3,Hyderabad,Telangana,MPUA,6809970.0,3637483.0,930.0,23.0,31.0,MEDIUM,217.0,118.0,0.827744,6333272.0,110.0,126078.0,55123,2283.0
4,Ahmedabad,Gujarat,MPUA,5570585.0,3520085.0,852.0,29.0,25.0,LOW,227.0,109.0,0.847941,4746138.0,73.0,284973.0,33204,2329.0

In [54]:
df.to_csv('result.csv')